﻿@{
    ViewData["Title"] = "User Registration";
}

    <div class="paragraph_scrollable">
        <p>
            <form asp-area="" asp-controller="User" asp-action="Create">
                <p>Email Address:</p>
                <input type="text" name="Email" />
                <p style="padding-top: 10px;">User Name:</p>
                <input type="text" name="UserName" />
                <p style="padding-top: 10px;">Password:</p>
                <input type="password" name="Password" />
                <p style="padding-top: 10px;">Confirm Password:</p>
                <input type="password" name="Password" />
                <p style="padding-top: 5px;">
                    <input type="submit" value="Register" style="justify-content: center;" />
                </p>
            </form>
        </p>
    </div>
