﻿@using System.Net.Http;
@using System.Web;
@using System.Net.Http.Headers;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Session
@using Microsoft.AspNetCore;

@{
    ViewData ["Title"] = "Create";

   
}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <h2>New Category Info</h2>
    <div class="row">
        <form action="CreateCategory" method="post">
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control" name="Name" required>
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <input type="text" class="form-control" name="Description" required>
            </div>
            <div class="form-group">
                <label for="Units">Units</label>
                <input type="text" class="form-control" name="Units" required placeholder="m/s | kg | MPH | pps | etc...">
            </div>
            <input type="hidden" name="ProjectId" required readonly value="@ViewBag.ProjectId">
            <button class="btn btn-primary" type="submit">Submit</button>
            @Html.ActionLink("Cancel", "CategoriesList", "Home", new { ProjectId = ViewBag.ProjectId, pageNum = 1 }, new { @class="btn btn-secondary"})
        </form>
    </div>
</div>

