﻿@using System.Net.Http;
@using System.Web;
@using System.Net.Http.Headers;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Session
@using Microsoft.AspNetCore;

@{
    ViewData ["Title"] = "Create";
    HttpClient client = new HttpClient();
    string url = "http://metricapi-dev.us-west-2.elasticbeanstalk.com/api/Project";
    if (ViewBag.Name != null && ViewBag.Description != null) {
        var content = new FormUrlEncodedContent(new []
            {
                new KeyValuePair<string, string>("Name", ViewBag.Name),
                new KeyValuePair<string, string>("Description", ViewBag.Description)
            });
        var response = await client.PostAsync(url, content);
        response.EnsureSuccessStatusCode();
        <script>
            window.location.replace("ProjectsList");
        </script>
    }
}

<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <h2>New Project Info</h2>
    <div class="row">
        <form action="CreateProject" method="post">
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" name="Name" required>
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <input type="text" name="Description" required>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
            @Html.ActionLink("Cancel", "ProjectsList", "Home", null, new { @class = "btn btn-secondary" })
        </form>
    </div>
</div>

