﻿@using System.Net.Http;
@using System.Web;
@using System.Net.Http.Headers;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Session
@using Microsoft.AspNetCore;

@{
    ViewData ["Title"] = "Delete";
    HttpClient client = new HttpClient();
    string url = "http://metricapi-dev.us-west-2.elasticbeanstalk.com/api/Category/"+ViewBag.CategoryId;
    var response = await client.DeleteAsync(url);
    response.EnsureSuccessStatusCode();
}

<br>
<br>
<br>
<br>
<br>
<br>
<div>
    <h2>Category:</h2>
    <h2>@ViewBag.CategoryName</h2>
    <h2>Deleted</h2>

    <button>@Html.ActionLink("Back to Categories", "CategoriesList", "Home", new { ProjectId = ViewBag.ProjectId, pageNum = 1 })</button>
</div>