﻿@{
    ViewData["Title"] = "User Home Page";
}

<br />
<br />
<br />
<br />
<br />
<br />
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to the SNAFU MetricAPI</h1>
        <p class="lead">Your flexible Metric-Logging solution.</p>
        <hr class="my-4" />
        <a asp-area="" asp-controller="Home" asp-action="ProjectsList"><p>Click here to view your metric Projects</p></a>
    </div>
</div>
