﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/

/* Provide sufficient contrast against white background */
/*
a {
  color: #0366d6;
}*/

a:hover {
    color: #DCDCDC;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
/*
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}*/

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

/*body {

  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: -10px;
  margin-right: 10px;
  background-color: #F2F3F3;
  word-break:break-word;
}*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*Custom Classes*/

table, tr, th, td {
    padding: 15px;
    /*border-bottom: 1px #DDD;*/
    text-align: left;
}

table, tr, th, td {
    padding: 8px;
    text-align: left;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-bottom-width: 5px;
}

table {
    /*margin-top: 1000px;*/
    width: 100%;
    border-spacing: 5px;
}

th {
    font-weight: bold;
    text-decoration: underline;
}

td {
    font-weight: normal;
}

h1 {
    color: #000000;
}

p {
    -webkit-text-stroke-color: #141414;
    text-decoration-color: #141414;
}

.link_styled {
    font-size: 30px;
    color: #000000;
    text-decoration: underline;
}

.link_styled:hover {
    color: blue;
}

.border{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 500px;
    margin-right: 500px;
    border-style: solid;
    border-width: 4px 10px 4px 20px;
    border-radius: 10px;
}

.paragraph-standard {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.paragraph_scrollable {
    color: black;
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding-top: 90px;
}

.paragraph_scrollable_alpha {
    color: black;
    display: flex;
    justify-content: center;
    /*font-weight: bold;*/
    padding-top: 90px;
}

.paragraph_scrollable_left {
    color: black;
    display: flex;
    justify-content: left;
    font-weight: bold;
    padding-top: 90px;
}

.title_standard {
    display: block;
    background-color: #254E58;
}

.title_subsection {
    display: block;
    justify-content: center;
    text-decoration: underline;
}

.list_item_inline {
    display: inline;
    padding: 10px;
}

.list_item_float_left {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.list_item_float_right {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}

.list_navigation {
    list-style-type: none; 
}

.list_item_dark_background {
    color: #F0FFFF;
}

/*Custom CSS ID Styles*/

#Home {
    height: 90px;
}

#Home_Content {
    height: 100px;
}

#About {
    height: 100px;
}

#About_Content {
    height: 700px;
    margin-bottom: 700px;
}

#Content {
    height: 200px;
}

#Content_Content {
    height: 100px;
    margin-bottom: 700px;
}
input[type=text].Bad {
    background-color: #FF0000;
}